.about-me-container .content{
    font-size: 32px;
    padding: 0 10vw;
}
.about-me-container .my-name {
    position: absolute;
    top: 5vh;
    left: 10%;
    font-size: 10px;
    font-weight: 700;
    opacity: 1;
    text-transform: uppercase;
}
.about-me-container .year {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.about-me-container .pre-header {
    margin-top: 30vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: rgb(186, 186, 186, 0.7);
    font-size: .4em;
}
.about-me-container .header {
    text-align: center;
    font-size: .95em;
    font-weight: 600;
    margin-top: .9em;
    line-height: 120%;
}
.about-me-container .preamble{
    text-align: center;
    color: rgb(186, 186, 186, 0.7);
    font-size: .45em;
    font-weight: 600;
    margin-top: 2.2em;
    padding: 0 10vw;
    line-height: 150%;
}
.about-me-container .servicesNskills {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.5em;
}
.about-me-container .servicesNskills .title {
    color: rgb(186, 186, 186, 0.7);
    text-transform: uppercase;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: .4em;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
}
/* .about-me-container .servicesNskills .services-container {
    background-color: red;
}
.about-me-container .servicesNskills .skills-container {
    background-color: blue;
} */
.about-me-container .servicesNskills .items {
    font-size: .5em;
    font-weight: 600;
    text-align: center;
    margin: auto;
    width: 30em;
    word-spacing: 10px;
    margin-top: .8em;
    line-height: 150%;
    margin-bottom: 2em;
}
.about-me-container .servicesNskills .items span {
    color: rgb(186, 186, 186, 0.5);
    font-weight: 600;
}

@media (max-width: 1260px) {
    .about-me-container .content{
        font-size: 24px;
        padding: 0 10vw;
    }
}

.mobile-screen-text {
    display: none;
}
@media (max-width: 920px) {
    .about-me-container {
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-me-container .mobile-screen-text {
        display: block;
        font-size: 32px;
        text-align: center;
        font-weight: 700;
        opacity: 0;
        user-select: none;
        padding: 0 5vw;
        animation: anim 300ms 900ms forwards;
    }
    .about-me-container .content {
        display: none;
    }
}

@keyframes anim {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}